/* Блок Header*/
header {
	background-color: #41586E;
	height: 50px;
}
body {
	color: #ffffff;
	background-color: #022944; 
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 30px 30px;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    margin-top: -15px;
	margin-left: -15px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
	color: #022944;
}

/* Блок выставления привычек и организации списка (левая часть экрана) */
.habbit {
	margin: 0;
}
.habbit-adder {
	background-color: #637c93;
	border: none;
	height: 30px;
	width: 100%;
	outline: none;
	border-radius: 4px;
}
::-webkit-input-placeholder {color:#ffffff; padding-left: 10px;}
::-moz-placeholder          {color:#ffffff; padding-left: 10px;}
:-moz-placeholder           {color:#ffffff; padding-left: 10px;}
:-ms-input-placeholder      {color:#ffffff; padding-left: 10px;}

.habbit-view{
	margin: 0;
	margin-top: 30px;
	width: 100%;
}
.habbit-tbl {
	width: 100%;
	height: 30px;
	background-color: #41586E;
	border-radius: 4px;
}
.habbit-tbl table {
	width: 100%;
	height: 30px;
	vertical-align: middle;
}
th.tbl-header-name, th.tbl-header-btn {
	text-align: center;
} 
ol{
counter-reset: myCounter;
}
li{
list-style: none;
}
li:before {
counter-increment: myCounter;
content:counter(myCounter);
color: white;
background: #2980B9;
display: inline-block;
text-align: center;
margin: 5px 10px;
margin-left: -40px;
line-height: 40px;
width: 40px;
height: 40px;
border-radius: 10px;
}
.habbit-tbl-btn {
	padding-left: 0px;
	padding-right: 0px; 
	height: 50px;
	float: right;
	text-align: center;
}


/* Блок прогресса */
.habbit-progress{
	margin-top: 116px;
	width: 100%;
	height: 30px;
	background-color: #41586E;
	border-radius: 4px;
	text-align: center;
}
.habbit-progress h4{
	padding-top: 5px;
}
.task-progress {
	clear: both;
	padding-top: 50px;
}
.progress-check {
	margin-top: 9px;
}
.wrapper {
	height: 50px;
}
.wrapper-mob {
	margin-top: -35px;
	margin-left: 15px;
}
.progress-bar {
	background-color: #fc6b5b; 
}

/* кнопки */
.btn-circle {
	background-color: inherit;
	color: #fc6b5b;
	border: 0;
	padding: 0;
	margin-left: 5px;
	margin-right: 5px;
	outline: none;
}
.btn-circle:hover {
	background-color: inherit;
	color: #f74f40;
	border: 0;
	padding: 0;
	outline: none;
}
.btn-yes {
	color: #27AE61;
}
.btn-yes:hover {
	color: #4ACB0F;
}

